@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. You can upload only .csv files</h2>
<h5 class="text-danger">@ViewData["Message"]</h5>


