@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("UploadFile", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div class="row justify-content-center">
        <dv class="col-sm-6">
            @Html.TextBox("file", "", new { type = "file", accept=".csv", @class = "form-control" }) <br />

            <input class="btn btn-primary" type="submit" value="Upload" />

        </dv>
    </div>


} 